body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.color {
  background: #4bff00;
  color: red;
  font-size: 20px;
  height: 100px;
  text-align: center;
  width: 700px;
}
